.blogs{
    background-color:rgba(13, 90, 233, 0.795);
}
.gst img{
    height: 500px;
    width: 950px;
}
.category h2{
    background-color: cornflowerblue;

}

.category h3{
   background-color:blanchedalmond; 
}

.categoriess{
    margin-right: 30px;
}
.categoriess h2{
    color: white;
    text-align: center;
    background-color: cornflowerblue;
    height: 300px;
 
    
}